/**
 * LAYOUT
 */

html,
body {
	margin: 0;
	padding: 0;
	max-width: 1000px;
}
body > .flex {
	display: flex;
}
#right {
	flex: 1;
}

/**
 * COMMONS
 */

html, body, table {
	background: black;
	color: white;
	font-family: sans-serif;
}

a,
label {
	color: #e80;
	text-decoration: none;
	cursor: pointer;
}
a:hover,
a:focus {
	color: #888;
	text-decoration: none;
}

/**
 * MAIN MENU
 */

ul#mmenu,
ul#mmenu li {
     list-style          : none;
     margin              : 0;
     padding             : 0;
}
ul#mmenu {
     margin              : 5px;
}
ul#mmenu li {
     margin-top          : 1px;
}
ul#mmenu li a {
     display             : block;
     background-color    : #111;
     padding             : 3px;
}
ul#mmenu li a:hover {
     background-color    : #e80;
     color               : #111;
}

/**
 * TABLES
 */

table {
	border-collapse: collapse;
	width: 100%;
}
td, th {
	border: solid 2px #444;
	padding: 4px 6px;
}

/**
 * HEADINGS
 */

h1,
h2 {
	border: solid 1px #444444;
	background: #111111;
	color: #3388dd;
	font-weight: bold;
	text-align: center;
}
