/**
 * LAYOUT
 */

html,
body {
	margin: 0;
	padding: 0;
	max-width: 1000px;
}
body > .flex {
	display: flex;
}
#right {
	flex: 1;
}

/**
 * COMMONS
 */

html, body, table,
button, input, select, textarea {
	background: black;
	color: white;
	font-family: sans-serif;
}

button, input, select, textarea {
	border: solid 1px white;
	padding: 2px 4px;
}
button:focus, input:focus, select:focus, textarea:focus {
	border-color: lightblue;
	box-shadow: 0 0 3px lightblue;
	background: #222;
}
button {
	border-width: 2px;
	cursor: pointer;
	background: #222;
	padding: 4px 9px;
}
button:focus {
	color: lightblue;
}
button:disabled {
	cursor: not-allowed;
	border-color: #777;
	color: #777;
}

a,
label {
	color: #e80;
	text-decoration: none;
	cursor: pointer;
}
a:hover,
a:focus {
	color: #888;
	text-decoration: none;
}

/**
 * MESSAGES
 */

.message {
	margin: 1em 0;
	padding: 10px;
	background: blue;
}
.message.success {
	background: green;
}
.message.warning {
	background: orange;
	color: black;
}
.message.error {
	background: #c00;
}
.message > :first-child {
	margin-top: 0;
}
.message > :last-child {
	margin-bottom: 0;
}

/**
 * RESOURCES
 */

span.resource {
	padding: 1px 3px;
	color: white;
}
input[type="number"] {
	width: 3.5em;
	text-align: center;
}
input.costs {
	width: 2.75em;
	text-align: center;
}
input.coord {
	width: 2em;
	text-align: center;
}

/**
 * FLEETS
 */

.fleet.attacking {
	color: red;
}
.fleet.defending {
	color: green;
}
.fleet.returning {
	color: gold;
}

/**
 * MAIN MENU
 */

ul#mmenu,
ul#mmenu li {
     list-style: none;
     margin: 0;
     padding: 0;
}
ul#mmenu {
     margin: 5px;
}
ul#mmenu li {
     margin-top: 1px;
}
ul#mmenu li a {
     display: block;
     background-color: #111;
     padding: 3px;
}
ul#mmenu li a:focus,
ul#mmenu li a:hover {
     background-color: #e80;
     color: #111;
}

/**
 * TABLES
 */

table {
	border-collapse: collapse;
	width: 100%;
}
td, th {
	border: solid 2px #444;
	padding: 4px 6px;
}

/**
 * POLITICS
 */

.mof {
	color: gold;
}
.moc {
	color: green;
}
.mow {
	color: #ff3333;
}
.gc {
	color: #8080ff;
	font-weight: bold;
}

/**
 * HEADINGS
 */

h1,
h2 {
	border: solid 1px #444444;
	background: #111111;
	color: #3388dd;
	font-weight: bold;
	text-align: center;
}





/**
 * FIXES
 */

input[type="number"] {
	-moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
